<article>
  <a [routerLink]="['/', 'offers']">Список товаров</a>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="name">
        Название
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="description">
        Описание
      </label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
      <label for="price">
        Цена
      </label>
      <input id="price" type="text" formControlName="price">
    </div>

    <div>
      <label for="quantity">
        Количество
      </label>
      <input id="quantity" type="number" formControlName="quantity">
    </div>

    <button class="button" type="submit">Сохранить</button>
  </form>
</article>
